{% extends 'base.html.twig' %}

{% block title %}Intervenant index{% endblock %}

{% block body %}
    <table class="table table-hover ">
        <thead>
            <tr>
                <th colspan="3" class="headerTable">Speker list</th>
                <th >  
                    <a href="{{ path('intervenant_new') }}">
                    <button type="button" class="btn btn-danger">
                    <i class="fa fa-plus"></i>
                    </button>  
                    </a>
                </th>
            </tr>
            <tr  class="header">
                <th>Nom</th>
                <th>Prenom</th>
                <th>Age</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for speker in intervenants %}
            <tr>
                <td>{{ speker.nom }}</td>
                <td>{{ speker.prenom }}</td>
                <td>{{ speker.age }}</td>

                <td>
                 <a href="{{ path('intervenant_show', {'id': speker.id}) }}">
                        <button type="button" class="btn btn-primary">
                        <i class="fa fa-eye"></i></button> </a>
                    <a href="{{ path('intervenant_edit', {'id': speker.id}) }}">
                        <button type="button" class="btn btn-secondary">
                        <i class="fa fa-pencil"></i>
                         </button>
                    </a>
                
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
