{% extends 'base.html.twig' %}

{% block title %}Projet{% endblock %}

{% block body %}

        <a href="{{ path('projet_index') }}"><i class="fa fa-reply" aria-hidden="true"></i>back to list</a>

    <a href="{{ path('projet_edit', {'id': projet.id}) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>edit</a>
        {{ include('projet/_delete_form.html.twig') }}

    <table class="table">
        <thead class="header">
            <tr><th colspan="2" >Project detail</th></tr>
        </thead>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ projet.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ projet.nom }}</td>
            </tr>
            <tr>
                <th>NombreEtudiant</th>
                <td>{{ projet.nombreEtudiant }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ projet.note }}</td>
            </tr>
           
        </tbody>
    </table>
    <table class="table">
        <thead class="header">
            <tr><th colspan="2" >List d'etudiants</th></tr>
        </thead>
        <tbody>
        {% for etudiant in projet.etudiants %}

        <tr><td>{{ etudiant.nom }}</tr>
        {% endfor %}
        </tbody>
    </table>


    

{% endblock %}
